[submodule "partial-SPIDER"]
	path = partial-SPIDER
	url = https://github.com/UMR-Big-Data-Analytics/partial-SPIDER.git
[submodule "partial-BINDER"]
	path = partial-BINDER
	url = https://github.com/UMR-Big-Data-Analytics/partial-BINDER.git
[submodule "spind"]
	path = spind
	url = https://github.com/Jakob-L-M/spind
